{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}Instagram{% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>

<body class="bg-[var(--color-bg)] text-[var(--color-text)]">
  {% block header %}
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
</body>

</html>