{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}Instagram{% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="min-height-screen font-sans flex flex-col">
  <header class="w-full">
    {% block header %}
    {% endblock %}
  </header>
  <main class="w-full">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="w-full">
    {% block footer %}
    {% endblock %}
  </footer>
</body>

</html>